.detalle{
    width: 22vw;
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid blue;
    border-radius: 5px;
    gap: 1px;
    padding: 20px;
}